__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
build/
dist/
.env
.venv/
env/
venv*/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.log

logs/
airflow.db
*.pid
*.err
*.out
dags/__pycache__/

.docker/
docker-compose.override.yml
*.pid
*.sock

pgdata-airflow/
pgdata-etl/
postgres_data/
pgdata/
*.sql~
*.dump
*.backup

!shared/.gitkeep

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
